*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
     font-size: 16px;
    font-weight: 400;
    font-style: normal;
}


/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/*=============== Universal code ===============*/

.container{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.flex{
    display: flex;
    align-items: center;
    
}
/* Primary Button */
.btn-primary {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #30B868;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #30B868;
  cursor: pointer;
  transition: background 0.3s ease;
}
.btn-primary a{
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    line-height: 19px;
    text-decoration: none;
}

.btn-primary:hover {
  background: transparent;
  border: 1px solid #30B868;
}
.btn-primary a:hover {
  color: #30B868;
}
/* Secondary Button */
.btn-secondary {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #30B868;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
} 
.btn-secondary a{
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    line-height: 19px;
    text-decoration: none;
}
.btn-secondary:hover {
  background: #30B868;
  border: 1px solid #30B868;
  /* color: #ffffff; */

}
.btn-secondary a:hover {
  color: #ffffff;
}


/*================ Header ================*/
header {
    background: #fff8f300;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
       
    }

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav a {
    color: #000000;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
}


nav a:hover {
    color: #30B868;   
}



/* Hero Section */

#hero {
    background: url('../Images/hero-bg.png') center center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
    height: 700px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
    width: 100%;
}
#hero .container {
    max-width: 800px;
}
.sub-heading {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  color: #30B868; 
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 50px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.sub-heading .dot-o {
  width: 15px;
  height: 15px;
  background-color: #30B868;
  border-radius: 50%;
  position: relative;
  border: 4px solid #96e6b7; 
  box-shadow: 0 0 0 4px #d8f0e0;
}

.hero-heading {
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 16px;

}

.hero-heading span {
    color: #30B868;
    text-align: block;
}

.hero-container .hero-paragraph {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 16px;
    font-weight: 400;
}






/* hero button */
.hero-btn {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  margin-top: 32px;
} 

/* .hero-btn .btn-primary i{
    color: #ffffff;
    margin: 0 4px;
}  */
.hero-btn .btn-secondary i{
    color: #ffffff;
    margin: 0 4px;
} 

/* Box Section */
#box-section {
    background: #f5f5f5;
    padding: 60px 20px;
}

.section-heading {
  margin-bottom: 44px;
    text-align: center;
}
.section-heading h2 {
    font-size: 48px;
    line-height: auto;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.section-heading p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    max-width: 400px;
    margin:0 auto;

}

.box-section-container  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}
.box-section-container .box {
  width: 100%;
    background: #ffffff;
    padding:70px 24px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.06);
}

.box img{
  background: #f95555;
  height: 60px;
  width: 60px;
  padding: 14px;
  border-radius: 50%;
  margin-bottom: 16px;
}
.box-section-container .box h3 {
    font-size: 24px;
    line-height: auto;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.box-section-container .box p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    font-weight: 400;
}
/* box section end  */

/* about section start */
#about {
    padding: 120px;
}
#about .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.about-container .about-subheading {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.about-container h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    color: #001931;
    text-align: left;
    margin-bottom: 16px;
    width: 90%;
}
.about-container p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    font-weight: 400;
    text-align: left;
    margin-bottom: 24px;
    width: 90%;
    margin-bottom: 40px;
}
.about-container .CheckCircle {
       margin-bottom: 16px;
}
.about-container .CheckCircle p {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 20px;
    color: #001931;
    font-weight: 500;
}

/* CTA Section */
#cta {
    padding: 0 20px;
}
#cta .cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f7f6f2;
    padding: 80px 40px;
    text-align: center;
    margin-bottom: 120px;

}
.cta-container h2 {
    font-size: 40px;
    line-height: auto;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

#cta .btn-primary {
    margin-bottom: 16px;
}
.cta-container p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}

/* Footer Section */
#footer {
    background: #001931;
    padding: 60px 20px;
    color: #ffffff;
    padding: 120px 120px 30px 120px;    
}

#footer .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    border-bottom: 1px solid #e5e7eb26;
     padding: 0px 0 80px 0 ;
}   

.footer-social h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
   
}

.footer-social a {
    color: #ffffff;
    margin-right: 16px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #fafafa;
}






































/*================= Footer Section =============*/