*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
     font-size: 16px;
    font-weight: 400;
    font-style: normal;
}


/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


.container{
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.flex{
    display: flex;
    align-items: center;
    
}
/* Primary Button */
.btn-primary {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: #30B868;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #30B868;
  cursor: pointer;
  transition: background 0.3s ease;
}
.btn-primary a{
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    line-height: 19px;
    text-decoration: none;
}

.btn-primary:hover {
  background: transparent;
  border: 1px solid #30B868;
}
.btn-primary a:hover {
  color: #30B868;
}
/* Secondary Button */
.btn-secondary {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #30B868;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
} 
.btn-secondary a{
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    line-height: 19px;
    text-decoration: none;
}
.btn-secondary:hover {
  background: #30B868;
  border: 1px solid #30B868;
  /* color: #ffffff; */
  di
}
.btn-secondary a:hover {
  color: #ffffff;
}


/*================ Header ================*/
/*================ Start ================*/
header {
    background: #fff8f300;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px 0;  */
       
    }

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav a {
    color: #000000;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    /* padding: 10px 15px; */
    
}




/* Hero Section */

#hero {
    background: url('../Images/hero-bg.png') center center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    text-align: center;
    height: 600px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
    width: 100%;
}
#hero .container {
    max-width: 800px;
}
.sub-heading {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  color: #30B868; 
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 50px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.sub-heading .dot-o {
  width: 15px;
  height: 15px;
  background-color: #30B868;
  border-radius: 50%;
  position: relative;
  border: 4px solid #96e6b7; 
  box-shadow: 0 0 0 4px #d8f0e0;
}

.hero-heading {
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 16px;

}

.hero-heading span {
    color: #30B868;
    text-align: block;
}

.hero-container .hero-paragraph {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 16px;
    font-weight: 400;
}






/* hero button */
.hero-btn {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  /* justify-content: center; */
  margin-top: 32px;
} 

/* .hero-btn .btn-primary i{
    color: #ffffff;
    margin: 0 4px;
}  */
.hero-btn .btn-secondary i{
    color: #ffffff;
    margin: 0 4px;
} 
































































/*================= Footer Section =============*/